body {
  background-color: #3f2b4c;;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

a{color: #fff;}

header{
  margin: 7px;
  background-color: #35606b65;
  border-radius: 14px;
}

form {
  width: 90%;
  align-self: center;
}

select, input {
  display: inline !important; margin-left: 10px;
}

.col-md-6 {
  margin: 14px 0;
}

input[readonly] {
  filter: brightness(0.8);
}

thead {
  position: sticky;
  top: 0;
}

.form-check {
  display: inline-block;
  margin-left: 10px;
}

iframe{border-radius: 14px; height: 100%;}
#alert{position: absolute; bottom: 12px; left: 12px; z-index: 200;}

.form-check-input {
  margin-left: 0 !important;
  margin-right: 10px;
}
main{height: 95vh;}
#questions{display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; flex: 1;}
.option{width: 40%; padding: 20px 5px; transition: .3s;}
.option:hover, .option:active{filter: brightness(1.5);}
.option:nth-child(2){background-color: #4f8c8c;}
.option:nth-child(3){background-color: #894e4e;}
.option:nth-child(4){background-color: #589552;}
.option:nth-child(5){background-color: #928150;}

@media (max-width: 576px) {
  form {
    width: 100%;
  }
}
